{% extends "layout.html" %}
{# This template should be passed h5py `File` object converted to a dictionary.
It will render generic details of this file as HTML.
If top level properties follow CF-Convetions are present they will be shown.
Since this template is generic it is not possible to reach into datasets and shown anything in the way of numerical data.
#}

{% block content %}
  <div class="content">
    <h1 class="title">{{ h5.attributes.title | default("No Title") }}</h1>
    <div class="root-obj">
      {{ expandGroup(h5) }}
    </div>
  </div>
{% endblock content %}

{% macro expandGroup(obj, depth=0) %}
<div class="group">
  <p><span>Name: </span><span>{{ obj.name }}</span></p>
  {%- if obj['attributes'] and obj['attributes']|count > 0 %}
  <div class="attributes">
    <p>Attributes</p>
    {{ htmlDefnList(obj.attributes) }}
  </div>
  {%- endif %}
  {%- if obj['groups'] and obj['groups']|count > 0 %}
  <div class="subogroups">
    <p>Groups</p>
    <div>
    {%- for item in obj['groups'] -%}
      {{ expandGroup(obj['groups'][item], depth+1) }}
    {%- endfor -%}
    </div>
  </div>
  {%- endif -%}
  {%- if obj['datasets'] and obj['datasets']|count > 0 -%}
  <div class="datasets">
    <p>Datasets</p>
    <div>
    {%- for item in obj['datasets'] -%}
      {{ expandDataset(obj['datasets'][item], depth+1) }}
    {%- endfor -%}
    </div>
  </div>
  {%- endif -%}
</div >
{% endmacro %}

{% macro expandDataset(obj, depth=0) %}
<div class="dataset">
  <p><span>Name: </span><span>{{ obj.name }}</span></p>
  <div class="inbuilts">
    {{ htmlDefnList(obj, [], ['attributes']) -}}
  </div>
  <div class="attributes">
    <p>Attributes</p>
    {{ htmlDefnList(obj.attributes) -}}
  </div>
</div >
{% endmacro %}




{% macro htmlDefnList(list, listClasses=[], ignore=[]) %}
<ul{% if listClasses %} class="{{ listClasses | join(' ') }}" {% endif %}>
{%- for item in list -%}
  {%- if item not in ignore %}
    <dt>{{ item | upper }}</dt><dd>{{ list[item] }}</dd><br/>
  {%- endif -%}
{%- endfor %}
</ul>
{% endmacro %}
