<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <style type='text/css'>
      .group, .dataset { margin: 1em; padding: 1em; border: 1px solid #000; }
      p { font-weight: 900; }
      p { font-weight: 900; }
      dt { font-weight: 900; }
      dt, dd { display: inline-block; }
    </style>
  </head>
  <body>
    <header>{% block header %}{% endblock %}</header>
    <content>{% block content %}{% endblock %}</content>
    <footer>{% block footer %}{% endblock %}</footer>
  </body>
</html>
